// @use "./mixins" as *;
@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background: #fafafa;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
